* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 375px;
  font-family: "Spartan", sans-serif;
  font-size: 13px;
  margin: auto;
  padding: 80px 24px 99px 24px;
  background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
  background-size: 375px, cover 375px;
  background-repeat: no-repeat;
  background-position: top center, bottom center;
}

/* INTRODUCTION */
.intro {
  margin-bottom: 40px;
}
.intro-head {
  font-size: 32px;
  line-height: 32px;
  line-height: 1;
  text-align: center;
  color: #512051;
  letter-spacing: -1.14px;
  margin-bottom: 18px;
}
.intro-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.5px;
  color: #927b91;
  text-align: center;
}

/* RATINGS */
.ratings-box {
    background-color: #F7F2F7;
    border-radius: 8px;
    text-align: center;
    padding: 16px;
    margin-bottom: 16px;
    width: 327px;
}
.ratings-box h3 {
    font-size: 13px;
    color: #512051;
}
.ratings-score {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 16px;
    width: 116px;
}

/* TESTIMONIALS */
.testimonials {
    margin-top: 49px;
    color: white;
}
.testimonial-box {
    background-color: #512051;
    border-radius: 8px;
    padding: 40px 32px 32px;
    margin-bottom: 16px;
    width: 327px;
}
.testimonial-biog {
    display: flex;
    margin-bottom: 26px;
}
.biog-photo {
    border-radius: 50%;
    height: 40px;
    margin-right: 23px;
}
.biog-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.biog-name {
  font-weight: 700;
  margin-bottom: 5px;
}
.biog-role {
  font-weight: 400;
  color: #EE69A4;
}
.biog-quote {
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.23px;
}

/* ATTRIBUTION */
.attribution {
  margin-top: 60px;
}


/* DESKTOP */
@media (min-width: 1024px) {
  body {
    width: 1440px;
    padding-top: 0px;
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-size: 584px, 1085px;
    background-position: top left, bottom right;
  }
  .header-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 1100px;
    height: 235px;
    margin: 127px auto 0px;
  }
  .intro {
    width: 445px;
    height: 235px;
  }
  .intro-head {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.71px;
    text-align: left;
  }
  .intro-text {
    font-size: 15px;
    line-height: 25px;
    text-align: left;
  }
  .ratings {
    height: 200px;
    margin-bottom: 40px;
    align-self: center;
    justify-self: end;
  }
   .ratings-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 445px;
    height: 56px;
    padding-left: 0;
  }
  .rb-2 {
    margin-left: 48px;
  }
  .rb-3 {
    margin-left: 95px;
  }
  .ratings-score {
    margin-top: 0px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 0;
  }
  .testimonials {
    width: 1100px;
    display: flex;
    margin: 72px auto 0px;
  }
  .testimonial-box {
    width: 350px;
  }
  .tb-1, .tb-2 {
    margin-right: 30px;
    height: 234px;
  }
  .tb-2 {
    margin-top: 16px;
  }
  .tb-3 {
    margin-top: 32px;
    height: 234px;
  }
}